h1{
    text-align: center;
}
p{
    text-align: center;
}
.quebrar::before {
  content: "\A";            /* Isso é o código CSS para uma quebra de linha (Enter) */
  white-space: pre-wrap;    /* Diz para o navegador respeitar a quebra de linha acima */
}


.hero-buttons {
  display: flex;
  flex-direction: row;   
  align-items: center;      
  margin-top: auto;
  gap: 20px;
  justify-content: center;
}
 .btn-primary{
background-color: black;
 border: 1px solid var(--cor-borda);
  padding: 8px 20px;
   border-radius: var(--raio-pequeno);
  font-family: 'Inter', sans-serif;
  font-weight: 600; /* Deixa o texto levemente em negrito */
 color: white; 
}
.btn-primary, .btn-secondary {
  text-decoration: none; /* Remove o sublinhado padrão do link */
}




