main {
  max-width: var(--largura-maxima);
  margin: 0 auto;
  padding: 0 var(--paddibg-lateral);
}
h1 {
  text-align: center;
  padding: 8px 20px;
  margin-top: 70px; 
}
p {
  text-align: center;
}
.quebrar::before {
  content: "\A";
  white-space: pre-wrap;
}

.hero-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 24px;
}

.btn-primary,
.btn-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 14px;
  height: 38px;
  box-sizing: border-box;
}

.btn-primary {
  background-color: black;
  border: 1px solid black;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: white;
}

.btn-secondary {
  background-color: white;
  border: 1px solid #000000;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  color: rgb(26, 26, 26);
  font-weight: 500 !important;
  padding: 8px 20px;
}
.servicos-icones {
  display: flex;        
  flex-direction: row;
  justify-content: space-between; 
  gap: 20px; 
}
