* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color:rgb(0, 0, 0) ;
}
h1{
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(0, 0, 0);
  background-color: rgb(226, 209, 56);
  padding: 30px;
  text-align: center;
  width: 100%;
}
.cont-app{
 background-color: rgb(0, 0, 0);
 min-height: 100vh;
}
ul{
  padding: 40px;
}
li{
  text-align: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: aliceblue;
  position: relative;
  left: 50px;  
}
h2 {
  font-family: 'Arial Black', sans-serif; 
  margin-top: 2rem;
  margin-bottom: 0.8rem;
  color: #ffffff;
  text-align: auto;
  position: relative;
  left: 50px; 
}